<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://kit.fontawesome.com/607f87aec7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
      href="phones.css" media="only screen and (max-width: 869px)" />
</head>
<div id="secy">
    <main id="fuck">
        <div id="exhebit_a" class="align_center">
            <div id="div1">
                <h1 style="display: inline;">WELCOME TO </h1><span> DENVER.COM</span>
            </div>
            <p>Denver.com will be the destination for all things cannabis related.<br>
                Our focus will be helping shoppers find the best products and services in Denver.</p>
        </div>
        <div id="exhebit_b" class="align_center">
            <div>
                <h1 style="display: inline-block;">FOR </h1><span> CANNABIS SHOPPERS</span>
            </div>
            <p>Use our directory to find products and shops near you.<br>
                Check out a store and read what others have to say or leave a review yourself.</p>
        </div>
        <div id="exhebit_c" class="align_center">
                <div>
                    <h1 style="display: inline-block;">FOR </h1><span> CANNABIS BUSINESSES</span>
                </div>
                <p>Recent laws that have passed in Colorado have opened up a new market.<br>
                    But traditional advertising channels are hesistant and slow to adopt.<br>
                    Denver.com will be focused around the cannabis industry and<br>
                    offer multiple advertising methods for your business.</p><br>
        </div>
        <div id="exhebit_d" class="align_center">
            <div>
                <h1 style="display: inline-block;">FOR ALL THINGS</h1><span> CANNABIS RELATED</span>
            </div>
            <p>Denver.com will be the destination for all things cannabis related.
                Our focus will be helping shoppers find the best products and services in Denver.</p>
        </div>
        <aside>
            <div>
                <form action="">
                    <div id="in1" class="in">
                        <input type="checkbox" name="ins1" id="ins1"  class="ins">
                    </div>
                    <div id="in2" class="in">
                        <input type="checkbox" name="ins2" id="ins2" class="ins">
                    </div>
                    <div id="in3" class="in">
                        <input type="checkbox" name="ins3" id="ins3" class="ins">
                    </div>
                    <div id="in4" class="in">
                        <input type="checkbox" name="ins4" id="ins4" class="ins">
                    </div>
                </form>
            </div>
        </aside>
    </main>
    <section id="sex" style="display: inline-;">
        <span><button id="spa" onclick="mon()" >&#8594</button></span>
    </section>
</div>
</body>
<script defer src="index.js"></script>
</html>
